@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#ffe3c9 ,#fac08a);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #B37439;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #2796B3;
    text-align: center;
    text-shadow: 1px 1px 2px #186579;
}
h2{
    color: #155261;
}
p{
    text-align: justify;
}